In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import time

## import data kpopmap

In [67]:
df = pd.read_csv('data345678_tambahan.csv')

In [4]:
df.shape

(114959, 3)

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.shape

(110083, 3)

In [7]:
df.head()

                                             caption     user  mbti
0                                     오늘밤!! #비긴어게인\n  w_n_r00  ESFP
1                                  Love in seoul🙏🏻\n  w_n_r00  ESFP
2  Cảm ơn mọi người, đó là 3 ngày thật hạnh phúc!...  w_n_r00  ESFP
3                            Love vietnam so much💙\n  w_n_r00  ESFP
4  A팀에서 위너가 된지 9년! 감사합니다🙏🏻 \n#위너는_9년째_패밀리 \n#9yea...  w_n_r00  ESFP

In [6]:
import re,string

def strip_links(text):
    link_regex    = re.compile('((https?):((//)|(\\\\))+([\w\d:#@%/;$()~_?\+-=\\\.&](#!)?)*)', re.DOTALL)
    links         = re.findall(link_regex, text)
    for link in links:
        text = text.replace(link[0], ', ')    
    return text

def strip_all_entities(text):
    entity_prefixes = ['@','#']
    for separator in  string.punctuation:
        if separator not in entity_prefixes :
            text = text.replace(separator,' ')
    words = []
    for word in text.split():
        word = word.strip()
        if word:
            if word[0] not in entity_prefixes:
                words.append(word)
    return ' '.join(words)

remove hashtag and mention

In [10]:
%%time
df['caption'] = df.apply(lambda row : strip_all_entities(row['caption']), axis = 1)

Wall time: 2.42 s

In [12]:
df = df[df['caption'] != ''].reset_index(drop=True)

In [14]:
df.shape

(103668, 3)

In [13]:
df['mbti'].value_counts()

ENFJ    16605
ENFP    14141
INFP    10211
INFJ     8905
ISFP     8214
ENTJ     6926
ISFJ     6106
ENTP     5688
ESFJ     5020
INTJ     4467
ESTJ     3887
ISTJ     3481
INTP     3092
ISTP     2780
ESFP     2478
ESTP     1667
Name: mbti, dtype: int64

In [16]:
df.to_csv('data345678_tambahan_removed.csv', index=False)

In [17]:
df.iloc[:5000]

                                                caption     user  mbti
0                                                   오늘밤  w_n_r00  ESFP
1                                       Love in seoul🙏🏻  w_n_r00  ESFP
2     Cảm ơn mọi người đó là 3 ngày thật hạnh phúc T...  w_n_r00  ESFP
3                                 Love vietnam so much💙  w_n_r00  ESFP
4                        A팀에서 위너가 된지 9년 감사합니다🙏🏻 9년째 패밀리  w_n_r00  ESFP
...                                                 ...      ...   ...
4995                                             소품임 소품  bumkeyk  ENTJ
4996  돌아왔네 날 반기는 거리 내 오랜 친구 나를 믿는 이웃 Breathe in the ...  bumkeyk  ENTJ
4997                                               수고했어  bumkeyk  ENTJ
4998                                               그러하다  bumkeyk  ENTJ
4999                                     동선리허설은 누굴 위한거죠  bumkeyk  ENTJ

[5000 rows x 3 columns]

In [25]:
low_limit = 0
upp_limit = 5000
for i in range(1, 22):
    df.iloc[low_limit:upp_limit].to_csv('data_tambahan_partitioned_{0}.csv'.format(i), index=False)
    low_limit = upp_limit
    upp_limit += 5000

## import data kprofiles

In [64]:
25373+114959

140332

In [65]:
df_lama = pd.read_csv('data_all.csv')

In [5]:
df_lama.head()

                         caption        user  mbti
0                            📸\n  suye.on2di  ISTJ
1  제 손이 또...커튼을 망가트리고 말았습니다...\n  suye.on2di  ISTJ
2                      Synergy\n  suye.on2di  ISTJ
3                         해보자고\n  suye.on2di  ISTJ
4                         🌻😁❣️\n  suye.on2di  ISTJ

In [70]:
df.head()

                                             caption     user  mbti
0                                     오늘밤!! #비긴어게인\n  w_n_r00  ESFP
1                                  Love in seoul🙏🏻\n  w_n_r00  ESFP
2  Cảm ơn mọi người, đó là 3 ngày thật hạnh phúc!...  w_n_r00  ESFP
3                            Love vietnam so much💙\n  w_n_r00  ESFP
4  A팀에서 위너가 된지 9년! 감사합니다🙏🏻 \n#위너는_9년째_패밀리 \n#9yea...  w_n_r00  ESFP

In [66]:
df_lama.user.nunique()

148

In [68]:
df.user.nunique()

310

In [69]:
310+148

458

In [7]:
df_lama.shape

(25373, 3)

In [9]:
df_lama.drop_duplicates(inplace=True)

In [10]:
df_lama.shape

(23614, 3)

In [11]:
%%time
df_lama['caption'] = df_lama.apply(lambda row : strip_all_entities(row['caption']), axis = 1)

Wall time: 914 ms

In [12]:
df_lama = df_lama[df_lama['caption'] != ''].reset_index(drop=True)

In [13]:
df_lama.shape

(22233, 3)

In [16]:
low_limit = 0
upp_limit = 5000
for i in range(1, 6):
    df_lama.iloc[low_limit:upp_limit].to_csv('data_lama_partitioned_{0}.csv'.format(i), index=False)
    low_limit = upp_limit
    upp_limit += 5000

## menanti google translate

partisi karena google sheets jika menerima file terlalu banyak akan hang

## import data kpopmap sudah ditranslate

In [13]:
datas = {}
for i in range(1,22):
    datas[i] = pd.read_csv('partitioned/partitioned - Sheet{0}.csv'.format(i))

In [15]:
df_tambah = pd.DataFrame(columns=['translation', 'user', 'mbti'])

In [17]:
for i in range(1,22):
    df_tambah = pd.concat([df_tambah, datas[i]])
    df_tambah = df_tambah[df_tambah['translation'] != '']
    df_tambah.reset_index(drop=True, inplace=True)

In [18]:
df_tambah.shape

(103668, 3)

In [34]:
df_tambah.head()

                                         translation     user  mbti
0                                            Tonight  w_n_r00  ESFP
1                                    LOVE in Seoul🙏🏻  w_n_r00  ESFP
2  Cảm ơn mọi ngời đó là 3 ngày thật hạt hạc tôc ...  w_n_r00  ESFP
3                              LOVE VIETNAM So Much💙  w_n_r00  ESFP
4  Thank you for 9 years since I became WINNER on...  w_n_r00  ESFP

In [20]:
df_tambah.to_csv('data_tambahan_translated.csv', index=False)

In [7]:
import re

In [38]:
# TEXT CLEANING
TEXT_CLEANING_RE = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

In [41]:
re.sub(TEXT_CLEANING_RE, ' ', str(convert_emojis_to_word(text)).lower()).strip()

'camera with flash hello'

In [9]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to C:\Users\HP
[nltk_data]     PAVILION\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [10]:
from nltk.corpus import stopwords

In [11]:
stop_words = stopwords.words("english")

In [38]:
df_tambah.translation = df_tambah.translation.astype(str)

In [41]:
df_tambah.shape

(103668, 3)

In [13]:
def preprocess_lemma(text, lemma=False):
    # Remove link,user and special characters
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:
            if stem:
                tokens.append(wordnet_lemmatizer.lemmatize(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [14]:
%%time
df_tambah['translation'] = df_tambah.translation.apply(lambda x: preprocess_lemma(x, True))

Wall time: 6.15 s

In [15]:
df_tambah = df_tambah[df_tambah['translation'] != ''].reset_index(drop=True)

In [16]:
df_tambah.shape

(89349, 3)

In [17]:
df_tambah.drop_duplicates(inplace=True)

In [18]:
df_tambah.shape

(84630, 3)

In [19]:
df_tambah.to_csv('data_tambahan_cleaned.csv', index=False)

In [21]:
df_tambah.mbti.value_counts()

ENFJ    13489
ENFP    11404
INFP     7758
ISFP     7052
INFJ     7046
ENTJ     6001
ISFJ     5090
ENTP     4979
ESFJ     4066
INTJ     3709
ESTJ     3362
ISTJ     2698
INTP     2571
ISTP     2138
ESFP     1932
ESTP     1335
Name: mbti, dtype: int64

In [25]:
df_tambah.user.value_counts()[:5]

kwon_jo             3440
bumkeyk             1809
yulyulk             1575
miyayeah            1575
chungha_official    1544
Name: user, dtype: int64

In [33]:
df_tambah.describe()

       translation     user   mbti
count        84630    84630  84630
unique       73038      309     16
top          thank  kwon_jo   ENFJ
freq           151     3440  13489

## import data sudah ditranslate kprofiles

In [27]:
datas = {}
for i in range(1,6):
    datas[i] = pd.read_csv('data lama/lama - Sheet{0}.csv'.format(i))

In [29]:
df_lama = pd.DataFrame(columns=['translation', 'user', 'mbti'])

for i in range(1,6):
    df_lama = pd.concat([df_lama, datas[i]])
    df_lama = df_lama[df_lama['translation'] != '']
    df_lama.reset_index(drop=True, inplace=True)

In [30]:
df_lama

                            translation        user  mbti
0                                     📸  suye.on2di  ISTJ
1      My hand broke the curtain again.  suye.on2di  ISTJ
2                               SYNERGY  suye.on2di  ISTJ
3                          Let's try it  suye.on2di  ISTJ
4                                  🌻 ❣️  suye.on2di  ISTJ
...                                 ...         ...   ...
22228               Now is the last day    kh1000le  ESFP
22229                          DAY 1 🫢😏    kh1000le  ESFP
22230        I bought Jaemin's brother.    kh1000le  ESFP
22231                                 😎    kh1000le  ESFP
22232                             eh yo    kh1000le  ESFP

[22233 rows x 3 columns]

In [48]:
def preprocess_lemma(text, lemma=False):
    # Remove link,user and special characters
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:
            if lemma:
                tokens.append(wordnet_lemmatizer.lemmatize(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [44]:
df_lama.translation = df_lama.translation.astype(str)

In [49]:
%%time
df_lama['translation_ne'] = df_lama.translation.apply(lambda x: preprocess_lemma_ne(x, True))

Wall time: 733 ms

In [52]:
df_lama_ne = df_lama[['translation_ne', 'user', 'mbti']]

In [59]:
df_lama_ne = df_lama_ne[df_lama_ne['translation_ne'] != ''].reset_index(drop=True)

In [60]:
df_lama_ne.shape

(16681, 3)

In [61]:
df_lama_ne.drop_duplicates(inplace=True)

In [62]:
df_lama_ne.shape

(15903, 3)

In [63]:
df_lama_ne.to_csv('df_lama_ne.csv', index=False)